{% extends "main/header.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<strong>Cześć {{user.username}}!</strong>
<form style="width:300px;float: right">
    {{filter.form|crispy}}
    <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
</form>
<br><br>

{% else %}
<strong>Cześć gościu!</strong>
<form style="width:300px;float:right">
    {{filter.form|crispy}}
    <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
</form>
<br><br>

{% endif %}
<h1>Nasze przepisy</h1>
{% for recipe in filter.qs %}<br>

<ul id="recipe-list">

    <div class="row justify-content-left">
        <div style="width: 80%">

            <div class="card">
                <div class="card-body" style="flex:">
                    <a href="{% url 'recipe_detail' pk=recipe.id %}" class="recipe-detail-link"><h2>
                        {{recipe.title}}</h2></a>
                    <br>

                    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                        <ul>{{recipe.description}} <span class="greyOut"></span></ul>
                    </div>
                    <br>
                    <ul>{{recipe.recipe_category}} | tagi:
                        {% for tag in recipe.tag.all %}
                        {{tag.name}},{% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</ul>

{% endfor %}

{% endblock %}
