{% extends "main/header.html" %}

{% block content %}
<h1>przepisy</h1>
{% for instance in object_list %}<br>

<div class="row justify-content-center">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'recipe_detail' instance.id %}" class="recipe-detail-link">
                <h4>{{ instance.title }}</h4><br>
                <h6>{{ instance.description }}</h6><br>
                <h6>{{ instance.recipe_category }}</h6>
            </a>
        </div>
    </div>

</div>
{% endfor %}

{% endblock %}
