{% extends "main/header.html" %}

{% block content %}
<h1>przepisy</h1>
{% for recipe in object_list %}<br>

<ul id="recipe-list">

    <div class="row justify-content-left">
        <div style="width: 80%">

            <div class="card">
                <div class="card-body" style="flex:">
                    <a href="{% url 'recipe_detail' pk=recipe.id %}" class="recipe-detail-link"><h2>
                        {{recipe.title}}</h2></a>
                    <br>

                    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                        <ul>{{recipe.description}} <span class="greyOut"></span></ul>
                    </div>
                    <br>
                    <ul>{{recipe.recipe_category}} | tagi:
                        {% for tag in recipe.tag.all %}
                        {{tag.name}},{% endfor %}</ul>

                </div>
            </div>
        </div>
    </div>
</ul>

{% endfor %}

{% endblock %}
