{% extends "main/header.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p><label class="'active" for="id_username">Nazwa użytkownika:</label>
        <input id="id_username" name="username" type="text" autofocus="" autocapitalize="none" autocomplete="username"
        maxlength="150" required="">
    <br>
    <p><label class="active" for="id_password">Hasło:</label>
        <input id="id_password" name="password" type="password" autocomplete="current-password" required="">


    <button class="btn btn-small" type="submit">login</button>
</form>

    If you don't already have an account, <a href="/register"><strong>register</strong></a> instead.
{% endblock %}
