{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}


<style>
    .asteriskField {
    display: none;
}
</style>
<div class="row justify-content-center">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h2>Logowanie</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-secondary" >zaloguj</button>
                    <a href="#" class="link" style="margin- left 100px">Przypomnieć hasło?</a>
                </form>
                Jeżeli nie masz konta, <a href="/register" class="link"><strong>zarejestruj</strong></a> się.


            </div>
        </div>
    </div>
</div>

{% endblock %}
