{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .asteriskField {
    display: none;
}


</style>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>rejestracja</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button type="submit" class="btn btn-primary">zarejestruj</button>
                </form>
                Jeżeli masz już konto, <a href="{% url 'login' %}"><strong>zaloguj się</strong></a>.
            </div>
        </div>
    </div>
</div>

{% endblock %}
