{% extends 'main/header.html'%}
{% load crispy_forms_tags %}

{%block content%}
<head>

</head>
<style>
    .asteriskField {
    display: none;
}




</style>
<h2>Profil użytkownika:</h2>
<div class="col-6">
    <form enctype="multipart/form-data" method="post">
Aktualny avatar:
            <img src="{{ user.profile.avatar.url }}" height="80" id="avatar">
<br><Br>Zmiana?
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">zapisz</button>
    </form>
</div>

{% endblock %}
